<%layout("/templates/boilerplate")%>
<body>
    <div class="row">
        <div class="col-8 offset-2">
    <h2>Create New Listing:</h2>
    <form method="POST" action="/listings" class="needs-validation" novalidate>
        <div class="mb-3">
        <label for="listing[title]" class="form-label">Title:</label>
        <input name="listing[title]" placeholder="Enter the title" type="text" class="form-control" required/>
        <div class="valid-feedback">Title Looks Good!</div>
        <div class="invalid-feedback">Title is required</div>
        </div>
        <div class="mb-3">
        <label for="listing[description]" class="form-label">Description</label>
        <textarea name="listing[description]" class="form-control" required></textarea>
        <div class="valid-feedback">Description Looks Good!</div>
        <div class="invalid-feedback">Description is required</div>
        </div>
        <div class="mb-3">
        <label for="listing[image]" class="form-label">Image URL:</label>
        <input name="listing[image]" placeholder="url pleasee" type="text" class="form-control">
        </div>
        <div class="mb-3">
            <label for="listing[price]" class="form-label">Price:</label>
        <input name="listing[price]" placeholder="12000" type="text" class="form-control" required/>
        <div class="valid-feedback">Price Looks Good!</div>
        <div class="invalid-feedback">Price should be valid!</div>
        </div>
        <div class="row">
        <div class="mb-3 col-md-4">
        <label for="listing[location]" class="form-label">location:</label>
        <input name="listing[location]" placeholder="Nagpur,Maharashtra" type="text" class="form-control" required/>
        <div class="valid-feedback">Location Looks Good!</div>
        <div class="invalid-feedback">Location is required</div>
        </div>
        <div class="mb-3 col-md-8">
            <label for="listing[country]" class="form-label">Country:</label>
        <input name="listing[country]" placeholder="India" type="text" class="form-control" required/>
        <div class="valid-feedback">Country Looks Good!</div>
        <div class="invalid-feedback">Country is required</div>
        </div>
        </div>
        <button class="btn btn-dark add-btn">Create Listing</button>
        <br /><br/>
    </form>
    </div>
    </div>
</body>
