<% layout('/templates/boilerplate') %>

<div class="row">
    <div class="alert alert-danger col-6 offset-3" role="alert">
  <h4 class="alert-heading"><%=message%></h4>
</div>
<form method="get" action="/listings" class="col-6 offset-5">
  <button class="btn btn-outline-success mb-3">Go back to all listings!</button>
</form>
</div>
